<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/css/bootstrap.css" rel="stylesheet">
    <style>
        .container {
            width: 400px;
            margin: 100px auto 0;
        }
        .progress {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="videoFile" multiple="multiple">
                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
            </div>
            <div class="input-group-append">
                <span class="input-group-text" id="inputGroupFileAddon02" onclick="upload()">上传</span>
            </div>
        </div>
        
        <button type="button" class="btn btn-primary btn-block" onclick="listObj()">查询对象列表</button>
        <ul class="list-group" id="list-group">

        </ul>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"  src="/static/js/cos-js-sdk-v5.js"></script>
    <script type="text/javascript">
        const Bucket = 'saas-1300340680';
        const Region = 'beijing';     /* 存储桶所在地域，必须字段 */
        const appid = 1300930asd680;
        const SecretId = 'AKIDiIiYasCe1u32BEcrI3at1ymcw54pTs2C7o';
        const SecretKey = 'c4NWbZLdsGQO8hsh6MODwjokZEasdfliU5RA';
        // 初始化实例
        let cos = new COS({
            SecretId: SecretId,
            SecretKey: SecretKey,
        });
        function upload() {
            var files = document.getElementById('videoFile').files;
            for (let i=0; i < files.length; i++) {
                file = files[i]
                cos.putObject({
                    Bucket: Bucket, /* 必须 */
                    Region: Region,     /* 存储桶所在地域，必须字段 */
                    Key: file.name,              /* 必须 */
                    StorageClass: 'STANDARD',
                    Body: file, // 上传文件对象
                    onProgress: function(progressData) {
                        console.log(progressData)
                        if (!$('#progress-bar')) {
                            $('<div class="progress">\
    <div class="progress-bar progress-bar-striped" id="progress-bar" role="progressbar"aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div></div>').insertAfter('.input-group');
                        }
                        $('#progress-bar').css({'width': progressData.percent * 100 + "%"});
                    }
                }, function(err, data) {
                    if (data.statusCode == 200) {
                        $('.progress')[0].remove();
                        return
                    }
                });
            }
        }
        function listObj() {
            cos.getBucket({
                Bucket: Bucket, /* 必须 */
                Region: Region,     /* 存储桶所在地域，必须字段 */
                Prefix: '',           /* 非必须 */
            }, function(err, data) {
                $('#list-group').empty();
                for(let i in data.Contents) {
                    let li = '<li class="list-group-item">key:'+ data.Contents[i].Key +'========= size:'+ data.Contents[i].Size + 'bit</li>';
                    $('#list-group').prepend(li);
                }
            });
        }
    </script>
</body>
</html>